{% extends 'admin/admin_base.html' %}

{% block title %}
    CYblog-提交文章
{% endblock %}

{% block head %}
    <style type="text/css">
    .submitcontent {
        width: 100%;
        height: 300px;
        overflow: auto;
        word-break: break-all;
    }
    </style>
{% endblock %}

{% block admin_Content %}

    <div class="entry-box submit-article">
    <h4><strong>发表博文</strong></h4>
    <hr/>
    <form class="submit-article" method="post" action="">
        {{ form.csrf_token }}
        <input id="csrf_token" name="csrf_token" type="hidden" value="1552696094##84a8bfd07d921edcf8b87283e80ab18cb48530fa">
        <div class="form-group">
            <label class="control-label" for="title">标题</label>：
            <select class="" id="source" name="source" required=""><option value="1">原创</option><option value="2">转载</option><option value="3">翻译</option></select>
            <input class="submit-article-title" id="title" name="title" required="" type="text" value="">（1-50字）
        </div>
        <div class="form-group">
            <textarea class="submitcontent" id="content" name="content"></textarea>
        </div>

        <div class="form-group">
            <label class="control-label" for="summary">博文摘要</label>（显示在POST列表）<br>
            <textarea class="submit-article-summary form-control" id="summary" name="summary" required=""></textarea>
        </div>
        <div class="submit-article-button">
            <button type="submit" class="btn btn-success">提交</button>
        </div>
    </form>
</div>



{% endblock %}