{% extends 'base.html' %}
{% import "_macros.html" as macros %}
{% block Content %}

<div class="container wrapper">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h1 id="">About Me</h1>
				</div>
			</div>
			<ul id="post-list">
                <br>
                <br>
                <p class="fa-lg">雄性智人，劣质码农，钢铁直男，毫无审美。另外，本站由本人一手搭建，请各位hacker师傅手下留情</p>
                <br>
                <br>
                <p class="fa-lg">学习信安一度春秋，迟迟不得微妙法门。</p>
                <p class="fa-lg">常常浪迹互联网络，每每思来悲从中生。</p>
                <br>
                <br>
                <p class="fa-lg">
                    · 联系我：<a href='mailto:2948335218@qq.com'>2948335218@qq.com</a>，<a href='https://github.com/1344098010'>Github</a>
                </p>
			</ul>
</div>
{% endblock %}