{% extends 'base.html' %}
{% import "_macros.html" as macros %}
{% block Content %}


<div class="container wrapper">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h1 id="">Friends Link</h1>
				</div>
			</div>
			<ul id="post-list">
                <div class="article-entry-header">
                    <h3 class="article-entry-title">
                        <a target="_blank" href="https://blog.csdn.net/qq_41420747">CSDN蛇皮团团怪的博客</a>
                    </h3>
                </div>

            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </ul>
            <p class="fa-lg">
                · 如果有大佬愿意交换友链，请联系我：<a href='mailto:2948335218@qq.com'>2948335218@qq.com</a>
            </p>
</div>

{% endblock %}