<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>404-对不起！您访问的页面不存在</title>

<style type="text/css">
.img{
    text-align:center
}
.evil_words {
    text-align:center
}
</style>

</head>



<body bgcolor="#494949">

<div class="img">
      <img src="http://wx1.sinaimg.cn/large/0060lm7Tly1g2n6diwynpj30e207udfw.jpg" alt>
</div>
<div class="evil_words">
    <font size="10" color="#f5f5f5">我这破站有啥好日的？？？</font>
    <br>
    <font size="12" color="#f5f5f5">牛逼去日阿里巴巴呀！！！</font>
</div>

</body>

</html>
